* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: hwb(218 12% 80%);
  color: white;

  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.mainContainer {
  text-align: center;
  padding: 20px;
  margin-left: 400px;
  margin-top: 180px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  height: 310px;
  gap: 25px;
  border-radius: 10px;
  background-color:hsl(217, 19%, 24%) ;
}
#advice{
  color:hsl(150, 100%, 66%);
  font-size: 20px;

}
#paragrafh {
  font-size: 28px;
  color: white;
}
.diceimage{
  background-color: hsl(150, 100%, 66%);
  bottom: 125px;
  position: absolute;
  border: none;
  text-align: center;
  padding: 10px;
  border-radius: 50%;
  margin-left: 650px;
}
.diceimage:hover{
  border: 3px solid hsl(150, 100%, 66%) ;
}
.advicename{
  position: absolute;
  top: 220px;
  left: 200px;
}
.attribution {
  margin-top: 110px;
  text-align: center;
  font-size: 15px;
}
.attribution a {
  color: hsl(229, 19%, 45%);
  font-size: 16px;

}
