* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: hwb(218 12% 80%);
  color: white;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.mainContainer {
  text-align: center;
  padding: 20px;
  margin-left: 400px;
  margin-top: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  height: 370px;
  gap: 30px;
  border-radius: 10px;
  background-color:hsl(217, 19%, 24%) ;
}
#advice{
  color:hsl(150, 100%, 66%);
  font-size: 15px;

}
#paragrafh {
  font-size: 20px;
  color: white;
}
.diceimage{
  background-color: hsl(150, 100%, 66%);
  bottom: 125px;
  position: absolute;
  border: none;
  text-align: center;
  padding: 10px;
  border-radius: 50%;
  margin-left: 650px;
}
.diceimage:hover{
  border: 3px solid hsl(150, 100%, 66%) ;
}

.attribution {
  margin-top: 110px;
  text-align: center;
  font-size: 15px;
}
.attribution a {
  color: hsl(229, 19%, 45%);
  font-size: 16px;

}

/* Responsive media querry */
@media only screen and (max-width: 375px) {
  .mainContainer{
    padding: 0px;
    margin-left: 15px;
    margin-top: 180px;
    width: 91%;
    height: 310px;
  gap: 25px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color:hsl(217, 19%, 24%) ;
  }
  .diceimage{
    bottom: 195px;
    margin-left: 160px;
  }
  .divider{
    width: 90%;
  }
  
.attribution {
  width: 70%;
  margin-left: 50px;
}
}
